@model RestaurantListViewModel

<div id="restaurantList">

    <div id="withReviews">
        <div class="pagedList" data-otf-target="#restaurantList">
            @Html.PagedListPager(Model.withReviews,
           reviewsPage => Url.Action("Index", new { reviewsPage }),
           PagedListRenderOptions.MinimalWithItemCountText)
        </div>
    </div>

    <h3>
        Restaurants with Reviews
    </h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="thead-light">
                    Restaurant Name
                </th>
                <th>
                    Restaurant Location
                </th>
                <th>
                    Number of Restaurant Reviews
                </th>
                <th>
                    Average Rating
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model.withReviews)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.City, @restaurant.Country</td>
                    <td>@restaurant.CountOfReviews</td>
                    <td>@(restaurant.SumOfReviews / restaurant.CountOfReviews)</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>
        Restaurants without Reviews
    </h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="thead-light">
                    Restaurant Name
                </th>
                <th>
                    Restaurant Location
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model.withoutReviews)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.City, @restaurant.Country</td>
                </tr>
            }
        </tbody>
    </table>
</div>